<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="MyApp"
			connectionString="Data Source=example.com;Initial Catalog=MyApp;User ID=myapp_dba;Password=password"
			providerName="System.Data.SqlClient"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

		<add name="MyAppServices"
			connectionString="Data Source=example.com;Initial Catalog=MyAppServices;User ID=myappservices_dba;Password=password"
			providerName="System.Data.SqlClient"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>

	<system.net>
		<mailSettings>
			<smtp from="donotreply@example.com" xdt:Transform="Replace">
				<network defaultCredentials="false" host="localhost" password="password" port="25" userName="donotreply@example.com"/>
			</smtp>
		</mailSettings>
	</system.net>

	<system.web>
		<compilation debug="false" xdt:Transform="SetAttributes" />
		<customErrors mode="Off" xdt:Transform="SetAttributes"></customErrors>

		<caching>
			<outputCache enableOutputCache="true" xdt:Transform="SetAttributes" />
		</caching>
	</system.web>
</configuration>